<div class="navigatiebalk">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-sm">
    <div class="container">
      <p class="titles">Design. <span class="span">Making the best designed websites for people</span></p>
      <p class="titles">Development. <span class="span">Writing the best code</span></p>
      <p class="titles">Networking. <span class="span">Connect with people</span></p>
    </div>
  </div>
</div>



<footer>
    <div class="container">
      <hr>
      <a class="pull-left"> Copyright © Hakan Pinar 2017. All right reserved. </a>
    </div>
</footer>
